<!DOCTYPE html>
<html>
<head>
  <title>D3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">

<%= yield %>

</body>
</html>
